.LocationWrapper{
    display: flex;
    margin: 15px;
    background-color: rgb(0, 96, 141);
}
.Info{
    width: 50%;
    text-align: center;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:487px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:487px;
}