.LocationWrapper{
    display: flex;
    box-sizing:content-box ;
    align-content: center;
    margin: 15px;
    background-color: rgb(0, 96, 141);
    border-radius: 15px;
    background: rgb(0,96,141);
    background: linear-gradient(305deg, rgba(0,96,141,0.6502976190476191) 0%, rgba(250,249,249,1) 35%, rgba(242,247,249,1) 35%, rgba(74,160,193,0.6446953781512605) 94%);
}
.Info{
    width: 50%;
    text-align: left;
    box-sizing:content-box ;
    align-content: center;
    padding-top: 20%;
    padding-left: 2%;
    font-size: 22px;
   
}
.mapouter{
    position:relative;
    text-align:right;
    height:auto;
    width:487px;
    border-radius: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

#gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
    border-radius: 15px;
   
}